<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Login | Trust Capital</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    {% load  static %}
    {% include "common/link.html" %}
    {% include "common/scripts.html" %}


    <!-- preloader css -->
   
</head>

<body data-layout-mode="dark">

<!-- <body data-layout="horizontal"> -->
    <div class="auth-page">
        <div class="container-fluid p-0">
            <div class="row g-0 ">
                <div class="col-xxl-9 col-lg-8 col-md-12 order-1 order-lg-0">
                    <div class=""> <!--pt-md-5 p-4 -->
              
                        <!-- <div id="circle-orbit-container" style="overflow-y:hidden ;">
    
                           
                            <div id="middle-orbit">
                              
                            </div>
                          
                        
                            <div id="outer-orbit">
                            
                            </div>
                             
                            <div id="extra-outer-orbit">
                               
                            </div>
                           
                            <div id="extra-plus-outer-orbit">
                                
                            </div>
                          
                        </div> -->
                     
                      
                    </div>
                </div>
                <div class="col-xxl-3 col-lg-4 col-md-12">
                    <div class="auth-full-page-content d-flex p-sm-5 p-4" style="background-color:#151628 ;">
                        <div class="w-100">
                            <div class="d-flex flex-column h-100">
                              
                                <div class="auth-content my-auto">
                                    <div class="text-center">
                                        <a href="index.html" class="d-block auth-logo">
                
                    
                                            <img src="{%static 'images/logo.png' %}" alt="" height="60"> <!--<span
                                                class="logo-txt">Minia</span>-->
                                        </a>
                                    </div>
                                   
                                    <form class="mt-4 pt-2 needs-validation" action="{%url 'CRFAPP:LoginCheck' %}" novalidate method="post">
                                        {% csrf_token %}
                                        <div class="mb-3">
                                            <label class="form-label">Username</label>
                                            <input type="text" class="form-control" id="username" placeholder="Enter username" required id="validationCustom01" name="username">
                                            <!-- <div class="valid-feedback">
                                                Looks good!
                                            </div> -->
                                        </div>
                                        <div class="mb-3">
                                            <div class="d-flex align-items-start">
                                                <div class="flex-grow-1">
                                                    <label class="form-label">Password</label>
                                                </div>
                                                <div class="flex-shrink-0">
                                                    <!-- <div class="">
                                                        <a href="auth-recoverpw.html" class="text-muted">Forgot password?</a>
                                                    </div> -->
                                                </div>
                                                <!-- <div class="valid-feedback">
                                                    Looks good!
                                                </div> -->
                                            </div>
                                    
                                            <div class="input-group auth-pass-inputgroup">
                                                <input type="password" class="form-control" placeholder="Enter password"
                                                    aria-label="Password" aria-describedby="password-addon" name="password" required>
                                                
                                                    <button class="btn btn-light shadow-none ms-0" type="button"
                                                    id="password-addon"><i class="mdi mdi-eye-outline"></i></button>

                                            </div>
                                        </div>
                                       
                                     
                                        <div class="mb-3">
                                            <button class="btn btn-primary w-100 waves-effect waves-light" type="submit">Log
                                                In</button>
                                        </div>
                                        <div class="">
                                            <p class="text-danger text-center" style="font-weight: bold;">{{login_error}}</a>
                                        </div>
                                    </form>
    
                                    
                                  
                                </div>
                            
                            </div>
                        </div>
                    </div>
                    <!-- end auth full page content -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container fluid -->
    </div>
<!-- JAVASCRIPT -->

<!-- pace js -->

<!-- password addon init -->
<script>
    
</script>
<script src="{%static 'js/pages/pass-addon.init.js' %}"></script>
<script src="{%static 'js/pages/form-validation.init.js' %}"></script>
</body>

</html>

